body {
    margin: 0;
    padding: 5%;
}

a,
span.glyphicon-pencil {
    cursor: pointer;
}

.navbar {
    opacity: 0.95;
}

.collapser:after {
    font-family: "Glyphicons Halflings";
    content: "\e114";
    float: right;
    margin-left: 15px;
}


/* Icon when the collapsible content is hidden */

.collapser.collapsed:after {
    content: "\e080";
}